.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.calendar {
  max-width: 600px;
  margin-bottom: 20px;
}

.highlightedDate {
  background-color: red; /* Example highlight color */
  border-radius: 50%;
  height: 5px;
  width: 5px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventsContainer {
  max-width: 600px;
}

.eventsContainer ul {
  list-style-type: none;
  padding: 0;
}

.eventsContainer li {
  margin-bottom: 10px;
}
